/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.jumbotron {
    background-color: #343A40;
    color: orange;
    margin-bottom: 0;
}

.avantages {
    background-color: #F5F5F5;
    padding: 20px;
}

.orange {
    color: orange;
}

.section-badge {
    background-color: #E6F2F5;
}

.widget-top {
    background-color: white;
    padding: 10px;
}

.widget-bottom {
    background-color: orange;
    color: white;
    padding: 10px;
}

.widget {
    border: 1px solid orange;
    margin: 15px;
}

.h4title {
    padding: 30px;
}

.background-trainings {
    background-color: #F5F5F5;
    padding: 20px;
    margin: 10px;
}

.review-block {
    background-color: #F5F;
    padding: 15px;
    margin: 2px;
}