:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color:#FFF;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
        
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 0;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #343a40;
    color: #FFF;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn{
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 3px;
}
.btn-primary {
    background-color: rgb(255, 146, 14);
    background-image: -webkit-linear-gradient(top,#FF9B22 0%, FF8C00 100% );
    border: 0 none;
    color: #FFEFD7;
    text-shadow: 0 2px 1Px rgba(0,0,0,.2);
}

.top-space {
    margin-top: 40px;
}

.highlight {
    margin-top: 20px;
}

.h-caption {
    text-align: center;
}

.h-caption i {
    display: block;
    font-size: 54px;
    color: #382526;
    margin-bottom: 36px;
}

.h-caption h4 {
    color: #382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h-body {
}

.jb {
    background-color: #f7f5f4;
}

.jb h4{
    font-size: 18px;
    line-height: 1.3em;
    margin:10px;
}

.footer1 a{
    color: #ccc;
}
.footer2 a{
    color: #ccc;
}

a{
    text-decoration: none;
}

.follow-me-icons a {
    padding-right: 10px;
}

.card-title{
    margin: 30px;
}

.breadcrumb {
    margin-top: 115px;
    margin-bottom: 20px;
    background-color: #FFF;
}

.breadcrumb li a {
    text-decoration: none;
}