@model List<DotnetP5App.ViewModels.DetailCarViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center" style="margin-top: 90px">
    <div class="container-fluid">
        <h1 class="jumbotron-heading"> Get your car!</h1>
        <p class="lead text-muted">Buy New and Used car all around the world !</p>
        <p>
            <a asp-controller="Contact" asp-action="Index" class="btn btn-primary my-2">Contact Us!</a>
        </p>
    </div>
</section>

<div class="container text-center mb-5">
    <br> <br>
    <h2 class="jumbotron-heading">The best place to buy cars at the best price</h2>
    <p class="text-muted">
        Open the app, get your car. 
    </p>
</div>
<!-- /Intro-->

<div class="jumbotron top-space jb">
    <div>
        <h3 class="text-center jumbotron-heading">Our services</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4> <i class="fa fa-cogs fa-5"></i>Sell To A Dealer with Quick Offer</h4>
                </div>
                <div class="h-body text-center">
                    <p>Get offers from dealers and sell your car fast or view your current offers.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fas fa-bolt fa-5 "></i>Sell it to yourself!</h4>
                </div>
                <div class="h-body text-center">
                    <p>List your car on Cars.com and hear from interested buyers.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-heart fa-5"></i>Have A Junk Car?</h4>
                </div>
                <div class="h-body text-center">
                    <p>Visit our Junk Car center to get offers on your vehicle and sell it fast</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="far fa-smile"></i>Used Cars For Sale by Owner</h4>
                </div>
                <div class="h-body text-center">
                    <p>Looking to buy a car? Browse our private party listings</p>
                </div>
            </div>
        </div> <!-- /row  -->
    </div>
</div>

<div class="container mt-5">

    <h2 class="text-center jumbotron-heading">Frequently Asked Questions</h2>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3 class="jumbotron-heading">What are the methods of payment? </h3>
            <p>Deposits can be sent by Skrill or WorldPay using any major credit card or by bank wire transfers. You can print out our Bank Wire Instructions from your Auction Export Profile. Full payments for successful purchases must be sent by bank wire transfer.</p>
        </div>
        <div class="col-sm-6">
            <h3 class="jumbotron-heading">Who can buy a car from us?</h3>
            <p>
                Whether you are an individual buyer or a dealer, you can purchase a car through AuctionExport. If you live overseas and would like to purchase a car through AuctionExport no dealer licence is required.
                All purchased vehicles must be exported outside of USA and Canada.
            </p>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="col-sm-6">
            <h3 class="jumbotron-heading">Will my information be kept private?</h3>
            <p>Yes, your information will be kept safe on our SSL secured server.</div>
        <div class="col-sm-6">
            <h3 class="jumbotron-heading">Where can I find my receipt?</h3>
            <p>
                You can easily download and print the receipt for your rental on Getaround. First, log in to your account from a web browser (not the mobile app), then go to: Your payments.
                As a peer-to-peer rental company, we cannot provide you invoices including VAT. However, this receipt has the same legal value and can also be used as an expense report.
            </p>
        </div>
    </div> <!-- /row -->

    <div class="jumbotron top-space jb display-3" style="margin-bottom:100px">
        <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
        <p class="text-right"><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>
