@model  IEnumerable<DotnetP5App.Models.Car>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1>ASP.Net</h1>
        <div>
            There are @Model.Count() number of cars in Database.
        </div>
    </div>


