@model DotnetP5App.ViewModels.CarViewModel

@{
    ViewData["Title"] = "View";
}

<div class="container" style="margin-bottom:70px">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a asp-controller="Cars" asp-action="Index">Back to list &nbsp; </a></li>
                <li class="active" style="color:#999"> / Edit</li>
            </ol>
        </div>
    </div>
    <div class="row">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="col-md-12">
            <form enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Vin" class="control-label"></label>
                            <input asp-for="Vin" class="form-control" />
                            <span asp-validation-for="Vin" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:30px">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Model" class="control-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Make" class="control-label"></label>
                            <input asp-for="Make" class="form-control" />
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Trim" class="control-label"></label>
                            <input asp-for="Trim" class="form-control" />
                            <span asp-validation-for="Trim" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Year" class="control-label"></label>
                            <input asp-for="Year" class="form-control" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select id="SelectId" asp-for="Status" class="form-control">
                            <option value="Available">Available</option>
                            <option value="Sold">Sold</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:30px">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="RepairCar">To Select multiple choice, hold on ctrl+click</label>
                                @Html.DropDownList("RepairCarList", Model.ListRepairCar, new { @id = "MultipleSelect", @class = "form-control", multiple = "multiple"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ProfileImage" class="control-label">Picture</label>
                            <div class="custom-file">
                                <input type="file" asp-for="ProfileImage" class="form-control custom-file-input" id="customFile" />
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:30px">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PurchaseDate" class="control-label"></label>
                            <input asp-for="PurchaseDate" class="form-control" />
                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="LotDate" class="control-label"></label>
                        <input asp-for="LotDate" class="form-control" />
                        <span asp-validation-for="LotDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="SaleDate" class="control-label"></label>
                        <input asp-for="SaleDate" class="form-control" />
                        <span asp-validation-for="SaleDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PurchasePrice" class="control-label"></label>
                            <input asp-for="PurchasePrice" class="row_total form-control" />
                            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="RepairCost" class="control-label"></label>
                            <input class="row_total form-control" id="repaircost" type="text" name="repaircost" readonly>
                            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SellingPrice" class="control-label"></label>
                            <input id="subtotal" asp-for="SellingPrice" class="form-control" readonly />
                            <span asp-validation-for="SellingPrice" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $("#MultipleSelect").change(function () {
            var sum = 0;
            $(this).find('option:selected').each(function () {
                sum += parseFloat($(this).val());
            });
            $("#repaircost").val(sum);
            calculateSum();
        })

        function calculateSum() {
            var sum = 0;
            var profit = 500;
            $(".row_total").each(function () {
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseFloat(this.value);
                }
            });
            $("#subtotal").val(sum + parseFloat(profit));

        }

        $("#PurchasePrice").change(function () {
            calculateSum();
        });

    </script>
}